{% extends 'my_store_app/_base.html' %}
{% load staticfiles %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Все товары
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar for categories-->
            <div class="col-sm-2">
                <h3 align="center">Категории</h3>
                <ul class="sidebar">
                    <li {% if not category %} class="selected" {% endif %}>
                        <a href="{% url 'store:index' %}">Все</a>
                    </li>
                    {% for ctg in categories %}
                        <li {% if ctg.pk == category.pk %} class="selected" {% endif %}>
                            <a href="{{ ctg.get_absolute_url }}">{{ ctg.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- Products -->
            <div class="col-sm-10">
                <div class="d-flex flex-wrap">
                    {% for product in products %}
                    <div class="product-box shadow-sm">
                        <a href="{{ product.get_absolute_url }}">
                            <div class="image-box">
                                <img class="product-image" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no-image.png" %}{% endif %}" alt="product image">
                            </div>
                        </a>
                        <div class="product-box-body">
                            <div class="text-box">
                                <p>{{ product.name }}</p>
                            </div>
                            <div class="price-box">
                                <p>{{ product.price }} руб.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}