{% extends 'my_store_app/_base.html' %}
{% load staticfiles %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block javascript %}
    <script>
        var addToCart;
        $(document).ready(function(){
            addToCart = function(id){
                $.ajax({
                url:'{% url "cart:add" %}',
                cache: false,
                data: {
                    'id': id,
                    'quantity': $("#quantity").val()
                },
                success: function(){
                    $("#cart").load(" #cart");
                    alert('Товар добавлен в корзину.');
                }
                });
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no-image.png" %}{% endif %}" alt="product image">
            </div>
            <div class="col-sm-8">
                <h1> {{ product.name }} </h1>
                <p>
                    Категория:
                    {% for category in product.category.all %}
                        <a href="{{ category.get_absolute_url }}"><span class="badge badge-pill badge-primary">{{ category.name }}</span></a>
                    {% endfor %}
                </p>
                <p> Цена: {{product.price }} руб.</p>
                <span>
                    <input id="quantity" type="number" name="quantity" value="1" min="1" max="99">
                    <input type="button" class="btn btn-primary" name="add" value="Добавить в корзину" onclick="addToCart('{{ product.pk }}')">
                </span>
                <p>
                    {% if product.description %}
                        Описание: {{ product.description|linebreaks }}
                    {% else %}
                        Описание отсутствует
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="add-review-box">
                    <h3 align="center">Опубликовать отзыв о товаре</h3>
                    <form action="{% url 'store:product' product.pk %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn" type="submit" value="Опубликовать">
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3 align="center">{% if reviews %}Отзывы{% else %}Отзывов пока нет{% endif %}</h3>
                {% for review in reviews %}
                    <div class="comment-box">
                        <p>{{ review.user.username }}</p>
                        <p>{{ review.title }}</p>
                        <p>{{ review.text }}</p>
                        <p>{{ review.date_created }}</p>
                        <p>{{ review.date_updated }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                <span class="step-links">
                    {% if reviews.has_previous %}
                        <a href="?page=1">&laquo; первая</a>
                        <a href="?page={{ reviews.previous_page_number }}">предыдущая</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ reviews.number }} из {{ reviews.paginator.num_pages }}
                    </span>

                    {% if reviews.has_next %}
                        <a href="?page={{ reviews.next_page_number }}">следующая</a>
                        <a href="?page={{ reviews.paginator.num_pages }}">последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}