{% extends 'my_store_app/_base.html' %}
{% load cart_tags %}
{% load staticfiles %}

{% block title %}
    Корзина товаров
{% endblock %}

{% block javascript %}
    <script>
        var setQuantity;
        var removeProduct;
        $(document).ready(function(){
            setQuantity = function(product_id, val){
                $.ajax({
                url:'{% url "cart:set" %}',
                cache: false,
                data: {
                    'id': product_id,
                    'quantity': val
                    },
                success: function(){
                    location.reload();
                }
                });
            }

            removeProduct = function(product_id){
                $.ajax({
                url:'{% url "cart:remove" %}',
                cache: false,
                data: {
                    'id': product_id,
                    },
                success: function(){
                    location.reload();
                }
                });
            }
        });
    </script>
{% endblock %}

{% block content %}
    {% if cart|length > 0 %}
        <h1>Корзина товаров</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Изображение</th>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no-image.png" %}{% endif %}" alt="product image">
                                </a>
                            </td>
                            <td> {{ product.name }} </td>
                            <td>
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" onchange="setQuantity('{{ product.pk }}', this.value)">
                                <input type="button" class="btn btn-primary" name="remove" value="Удалить" onclick="removeProduct('{{ product.pk }}')">
                            </td>
                            <td> {{ item.price }} руб.</td>
                            <td>
                                <div id="sum{{ product.pk }}">
                                    {{ item.quantity|multiply:product.price }} руб.
                                </div>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td>Итого</td>
                    <td colspan="3"></td>
                    <td>
                        <div id="totalprice">
                            {{ cart.get_total_price }} руб.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h1>Ваша корзина пуста</h1>
    {% endif %}
{% endblock %}